.main-page-footer {
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 3rem 3rem 5rem 3rem;
    gap: 25rem;
  }

  .main-page-footer-text{
    padding-top: 1rem;
  }
  
  .main-page-footer-right {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
  }
  
  .main-page-footer-left {
    display: block;
    justify-content: left;
    align-items: left;
  }

  .main-page-footer-logo-img {
    height: auto;
    width: 150px;
  }
  
  .main-page-footer-socials {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
    color: #fff;
  }
  
  .main-page-footer-socials a {
    transition: opacity 0.3s ease;
  }
  
  .main-page-footer-socials a:hover {
    opacity: 0.7;
  }
  
  .main-page-social-icon {
    font-size: 1.5rem;
  }
  
  .main-page-footer-copy {
    font-size: 0.9rem;
  }
  
  .main-page-footer-title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .main-page-footer-right p {
    margin: 0;
    font-size: 0.95rem;
    color: #fff;
  }
  
  .main-page-footer-info {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 0.95rem;
    padding-top: 1rem;
  }
  
  .main-page-footer-info a {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .main-page-footer-info a:hover {
    color: #ccc;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  .main-page-footer-hours .main-page-footer-title {
    margin-bottom: 1rem;
  }
  
  .main-page-footer-hours p {
    margin-bottom: 1rem;
    font-size: 0.90rem;
  }

  .main-page-footer-booking {
    color: #fff;
  }
  
  .main-page-footer-booking p {
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }
  
  .main-page-footer-link {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    padding: 0;
  }
  
  
  .main-page-footer-link:hover {
    color: #ccc;
    text-decoration: underline;
  }
  
  @media (max-width: 910px) {
    .main-page-footer {
      display: block;
      padding-left: 2rem;
    }
    .main-page-footer-title {
      margin-top: 2rem;
    }
      
    .main-page-footer-right {
      margin-top: 2rem;
      display: block;
    }
  
  }

  @media (max-width: 1395px) {
    .main-page-footer {
      gap: 10rem;
    }
  }
  

  @media (max-width: 1157px) {
    .main-page-footer {
      gap: 5rem;
    }

    .main-page-footer-right {
      gap: 5rem;
    }
  }

  @media (max-width: 1056px) {
    .main-page-footer {
      gap: 5rem;
    }

    .main-page-footer-right {
      gap: 3rem;
    }
  }
  
  
  