.book-button {
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
  white-space: nowrap;

}

.book-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  z-index: 0;
  transition: height 0.3s ease;
}

.book-button span {
  position: relative;
  z-index: 1;
}

.book-button.dark {
  border-color: white;
  color: white;
}

.book-button.dark-stay {
  border-color: white;
  color: white;
}

.book-button.dark::before, .book-button.dark-stay::before {
  background-color: white;
}

.book-button.dark:hover::before, .book-button.dark-stay:hover::before {
  height: 100%;
}

.book-button.dark:hover, .book-button.dark-stay:hover {
  color: black;
}

.book-button.light {
  border-color: black;
  color: black;
}

.book-button.light-stay {
  color: black;
  background-color: #fff;
}

.book-button.light::before, .book-button.light-stay::before {
  background-color: black;
}

.book-button.light:hover::before, .book-button.light-stay:hover::before  {
  height: 100%;
}

.book-button.light:hover, .book-button.light-stay:hover {
  color: white;
}

.book-button.small {
  padding: 8px 12px;
  font-size: 14px;
}

.book-button.large {
  padding: 14px 28px;
  font-size: 18px;
}

@media (max-width: 760px) {
  .book-button.large{
    padding: 12px 18px;
    font-size: 14px;
  }
}