.navbarwrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    backdrop-filter: blur(16px);
    background-color: #fff6;
    width: 100%;
    margin: 0 auto;
    }
      
  
  .navbar {
    padding: 1rem 2rem;
  }
  
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbarlogo img {
    height: 40px;
    width: auto;
    transition: opacity 0.3s ease;
  }
  
  .navbarlogo img:hover {
    opacity: 0.8;
  }
  
  .navright {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .navbarlinks {
    display: flex;
    gap: 5rem;
  }
  
  .navlink {
    text-decoration: none;
    padding: 0.5rem 0;
    position: relative;
    font-weight: 500;
  }
  
  .navbarcta {
    display: flex;
    align-items: center;
  }
  