.carwash-service-container {
    padding-top: 9rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 9rem;
}

.carwash-header {
    margin-bottom: 1rem;
}

.tab-menu {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.tab {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    color: #555;
}

.tab:hover {
    color: #000;
    border-bottom: 2px solid #000;
    transition: border-bottom 0.3s ease;
}

.tab.active {
    border-bottom: 2px solid #000;
    color: #000;
    transition: opacity 0.3s ease;
}

.tab-content {
    position: relative;
}

.carwash-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
}

.carwash-content.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out;
    position: relative;
}

.info-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
}

.info-text {
    flex: 1;
    margin-top: 1rem;
    line-height: 1.6;
}

.info-image {
    border-radius: 20px;
}

.services-grid {
    display: flex;
    gap: 80px;
  }
  
  .row {
    display: block;
  }
  
  .cell {
    flex: 1;
    min-width: 150px;
    border-radius: 8px;
    text-align: left;
    line-height: 1.8;
    padding: 15px 5px 5px 0;
  }
  
  .cell-underline {
    border-bottom: 1px solid #ccc;
  }

@media (max-width: 760px) {

    .carwash-service-container {
        padding-top: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 1.5rem;
    }
    
    .carwash-header {
        margin-bottom: 0.5rem;
    }
    
    .tab-menu {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
        cursor: pointer;
    }

    .carwash-content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 1s ease-in-out;
        width: 100%;
    }
    
    .info-content {
        display: block;
    }
    
    .info-text {
        flex: 1;
        margin-top: 1rem;
        line-height: 1.6;
    }
    
    .info-image {
        margin-top: 1rem;
        width: 100%;
    }
    
    .services-grid {
        display: block;
      }
}
