.carfix-service-container {
    display: block;
    background-color: black;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 7rem;
}

.carfix-header {
    padding-top: 7rem;
    margin-bottom: 1rem;
}

.carfix-content{
    margin-top: 0.5rem;
    line-height: 1.6;
    flex: 1;
}

@media (max-width: 760px) {
    .carfix-service-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 1.5rem;
    }
    
    .carfix-header {
        padding-top: 2rem;
        margin-bottom: 0;
    }
}
