.booking-wash-content {
    display: flex;
    overflow: hidden;
    height: calc(100% - 59px);
    width: 100%;
}

.booking-category-side {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
}

.booking-separator {
    background-color: #ccc;
    height: auto;
    width: 1px;
}

.booking-receipt-side {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.booking-wash-content.single-column {
    display: block;
}

.booking-wash-content.single-column .booking-separator,
.booking-wash-content.single-column .booking-receipt-side {
    display: none;
}

@media (max-width: 760px) {
    .booking-wash-content {
      display: block;
    }
  
    .booking-wash-content .booking-separator,
    .booking-wash-content .booking-receipt-side {
      display: none;
    }
  }
  