.booking-wash-content {
    display: flex;
    overflow: hidden;
    height: calc(100% - 59px); /* Adjusts for the header height */
}

.booking-category-side {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.booking-separator {
    background-color: #ccc; /* Light gray color */
    height: auto;
    width: 1px; /* Thin vertical line */
  }