.imagepage-container {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 2rem 10rem 2rem;
}

.imageSlot {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  object-fit: cover;
  transition: opacity 0.5s ease; /* smooth opacity transition */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.defaultImage {
  z-index: 1;
  opacity: 1; /* initial opacity */
}

.hoverImage {
  z-index: 2;
  opacity: 0; /* initial opacity */
}

/* Adjust container on mobile */
@media (max-width: 760px) {
  .imagepage-container {
    flex-direction: column;
    height: auto;
    padding: 5rem 1rem 5rem 1rem;

  }

  .imageSlot {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  /* Hide all except the active image handled in React */
}

/* Dots container */
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #777;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}
